$font-family: Futura, 'Trebuchet MS', apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
;
body {
  font-family: $font-family;
}
// Fix for Roboto font path
$roboto-font-path: '../assets/';

@import 'oil-pastels';

@import "pod-styles";
// Materialize styles
@import "materialize";
