<div class="container">
  <div class="heading-nav">
    <h6 class="left grey-text">The Cause</h6>
    <span class="right">{{#link-to 'place' class="black-text"}}All{{/link-to}}</span>
  </div>
  {{outlet}}
</div>
<br>
