<h4 class="center-align green-text call-number">(212) 688-6262</h4>
<p class="flow-text plain-font">
  My name is ---- ---- and I'm a constituent calling to thank <b>Senator Murkowski</b> for condemning Stephen Bannon's racism. I ask that the <b>Senator</b> continue to pressure the Trump transition team and refuse to work with them if they appoint racists. <b>Senator Murkowski</b> needs to continue to protect American values.
</p>
<div class="center-align">
  {{md-btn label='I Called' class="green"}} {{md-btn label='Skip' class="red"}}
</div>
{{outlet}}
