{{#md-nav class='white compact-nav black-text' as |n|}}
  <span class="grey-text">for</span>
  <span class="black-text">11205</span>
  <span class="right">
    Update
    {{fa-icon "map-marker" class="black-text"}}
  </span>
{{/md-nav}}
{{yield}}
