<h4 class="center-align green-text call-number">(212) 688-6262</h4>
<p class="flow-text plain-font">
  {{script}}
</p>
<br>
<div class="center-align">
  {{md-btn label='I Called' class="green"}} {{md-btn label='Skip' class="red"}}
</div>
{{yield}}
